 .header {
    display: flex;
    align-items: center;
    background: var(--preto-back);
    justify-content: space-between;
    padding: 1.4vw;
 }
 
 
 .cabecalho {
    background-color: var(--preto-back);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
 }
 

.cabecalho-menu__hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    margin-left: 1.2em;
 
 }
 

 .container {
    display: flex;
    align-items: center;
 }
 
 
 .lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vW;
 }
 
 .container-botao:checked~.lista-menu {
    display: block;
 }
 
 .lista-menu-titulo,
 .lista-menu-item {
    padding: 0.5em;
    background-color: red;
 }
 
 .lista-menu-titulo {
    color: yellow;
    font-weight: 600;
    background-color: green;
 }
 
 .lista-menu-link {
    color: yellow;
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
    text-decoration: none;
 }


.container-botao {
    display: none;
 }
 
 .container-titulo {
    display: none;
 }
